[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-image = "*"
opencv-contrib-python = "*"
pillow = "*"
torch = "*"
torchvision = "*"
gradio = "*"
gdown = "*"
u2net-pytorch = {editable = true, path = "."}

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
